<!DOCTYPE html>
<html lang="en">

<head>
	<title>Eat-da-burger</title>
	<meta charset="UTF-8">
		 <link rel="stylesheet" type="text/css" href="public/assets/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<script rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <title>Eat-Da-Burger World's Greatest Burger</title>
   
  </head>
  <body>
      <div>

      {{{ body }}}

      </div>
      <!-- /container -->
      <footer class="footer">
        <div class="container">
          <p> copyright © World's-Greatest-Burger - Young Cho</p>
        </div>
      </footer>
  </body>
</html>